@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#video-container {
    display: none;
}

#camera-feed {
    width: 50%;
    padding: auto;
    border-radius: 10px;
}

.loading-message, .error-message {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
}

.error-message {
    color: red;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

button {
    display: block;
    width: 200px;
    padding: 12px;
    margin: 0 auto;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}